.hero {
  height: 280px;
  background-color: mediumturquoise;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)),
    url(../images/about-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.farmer-content {
  max-width: 820px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 20px 10px;
  position: relative;

  svg {
      position: absolute;
      left: 240px;
      top: 120px;
  }

  .about-img {
    width: 280px;
    height: 280px;
    background-color: mediumpurple;
    border-radius: 50%;
    background-image: url(../images/farmers-about-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .about-text {
    width: 450px;

    h2 {
      font-family: SmithenScript;
      font-size: 62px;
    }

    p {
      font-family: FiraSansLight;
      font-size: 16px;
    }
  }
}

.creator-content {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 80px 0px;
    position: relative;
  
    svg {
        position: absolute;
        left: 270px;
        bottom: 20px;
    }
    .creator-img {
      width: 500px;
      height: 500px;
      background-color: #B2FFFC;
      border-radius: 50%;
    //   background-image: url(../images/farmers-about-img.jpg);
    //   background-size: cover;
    //   background-position: center;
    //   background-repeat: no-repeat;
    }
    .creator-text {
      width: 450px;
  
      h2 {
        font-family: SmithenScript;
        font-size: 62px;
      }
  
      p {
        font-family: FiraSansLight;
        font-size: 16px;
        width: 80%;
      }
    }
}

.products-content {
    .products-text-container {
        width: 436px;
        margin: 0 auto;

        h2 {
            font-family: SmithenScript;
            font-size: 62px;
          }
      
          p {
            font-family: FiraSansLight;
            font-size: 16px;
          }
    }
    .star-products-wrapper {
        width: 980px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 10px 60px 10px;
     
    }
}
