.hero {
  height: 280px;
  background-color: mediumturquoise;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)),
    url(../images/about-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.farmer-content {
  max-width: 860px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 20px 10px;
  position: relative;

  svg {
      position: absolute;
      left: 260px;
      top: 120px;
  }

  .about-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url(../images/farmers-about-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .about-text {
    width: 480px;
    padding-left: 20px;

    h2 {
      font-family: SmithenScript;
      font-size: 62px;
      width: 100%;
      font-size: 62px;
      line-height: 45px;
    }

    p {
      font-family: FiraSansLight;
      font-size: 16px;
    }
  }
}

.creator-content {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 20px 35px 80px 0px;
    position: relative;


    svg {
        position: absolute;
        right: 460px;
        bottom: 30px;
    }
    .creator-img {
      min-width: 500px;
      height: 500px;
      background-color: #B2FFFC;
      border-radius: 50%;
      position: relative;
        
    .pink-circle {
        position: absolute;
        background-color: #FFBEDC;
        width: 75%;
        height: 360px;
        border-radius: 50%;
        right: -90px;
        top: 20px;
    }

    .creator-circle {
        position: absolute;
    }

    .cc1 {
        top: -30px;
        left: 110px;
        width: 160px;
        height: 160px;
        background-color: rgb(7, 6, 7);
        border-radius: 50%;
        background-image: url(../images/creator-img-1.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
    }
    .cc2 {
        top: 70px;
        left: -30px;
        width: 210px;
        height: 210px;
        background-color: rgb(53, 21, 53);
        border-radius: 50%;
        background-image: url(../images/creator-img-3.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
    }

    .cc3 {
        top: 80px;
        right: 0;
        width: 190px;
        height: 190px;
        background-color: rgb(53, 21, 53);
        border-radius: 50%;
        background-image: url(../images/creator-img-2.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
    }

    .cc4 {
        bottom: 70px;
        right: 225px;
        width: 140px;
        height: 140px;
        background-color: rgb(53, 21, 53);
        border-radius: 50%;
        background-image: url(../images/creator-img-4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
    }

    .cc5 {
        bottom: 15px;
        right: 10px;
        width: 230px;
        height: 230px;
        background-color: rgb(53, 21, 53);
        border-radius: 50%;
        background-image: url(../images/creator-img-5.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
    }

    }
    .creator-text {
      width: 450px;
      padding: 0px 15px;
  
      h2 {
        font-family: SmithenScript;
        font-size: 62px;
        line-height: 45px;
      }
  
      p {
        font-family: FiraSansLight;
        font-size: 16px;
        width: 85%;
      }
    }
}

.products-content {
    .products-text-container {
        width: 75%;
        margin: 0 auto;
        padding: 30px 12px 0px 12px;
    

        h2 {
            font-family: SmithenScript;
            font-size: 62px;
            line-height: 45px;
            text-align: center;
        
          }
      
          p {
            font-family: FiraSansLight;
            font-size: 16px;
            text-align: center;
            width: 70%;
            margin: 0 auto;
            line-height: 30px;
          }
    }
    .star-products-wrapper {
        max-width: 980px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 15px 10px 60px 10px;


        .product {
            max-width: 34%;
   
            svg {
                max-width: 100%;
                
            }
        }

        .star-product-1 {
            padding-left: 10px;
        }

        .star-product-2 {
            padding-left: 30px;
        }
    }
}
